<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>vns</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>automotion</servlet-name>
    <jsp-file>/automotion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>automotion</servlet-name>
    <url-pattern>/automotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>career_details</servlet-name>
    <jsp-file>/career_details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>career_details</servlet-name>
    <url-pattern>/career_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>career</servlet-name>
    <jsp-file>/career.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>career</servlet-name>
    <url-pattern>/career</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>comment-list</servlet-name>
    <jsp-file>/comment-list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment-list</servlet-name>
    <url-pattern>/comment-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>comment-section</servlet-name>
    <jsp-file>/comment-section.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment-section</servlet-name>
    <url-pattern>/comment-section</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>digital_marketing</servlet-name>
    <jsp-file>/digital_marketing.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>digital_marketing</servlet-name>
    <url-pattern>/digital_marketing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>footer</servlet-name>
    <jsp-file>/footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>footer</servlet-name>
    <url-pattern>/footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gallery-awards</servlet-name>
    <jsp-file>/gallery-awards.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gallery-awards</servlet-name>
    <url-pattern>/gallery-awards</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gallery-celebration</servlet-name>
    <jsp-file>/gallery-celebration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gallery-celebration</servlet-name>
    <url-pattern>/gallery-celebration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gallery-our-office</servlet-name>
    <jsp-file>/gallery-our-office.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gallery-our-office</servlet-name>
    <url-pattern>/gallery-our-office</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>gallery-trips</servlet-name>
    <jsp-file>/gallery-trips.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gallery-trips</servlet-name>
    <url-pattern>/gallery-trips</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gallery</servlet-name>
    <jsp-file>/gallery.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gallery</servlet-name>
    <url-pattern>/gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geofencing</servlet-name>
    <jsp-file>/geofencing.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>geofencing</servlet-name>
    <url-pattern>/geofencing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ia</servlet-name>
    <jsp-file>/ia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ia</servlet-name>
    <url-pattern>/ia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index-17.12</servlet-name>
    <jsp-file>/index-17.12.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index-17.12</servlet-name>
    <url-pattern>/index-17.12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index-changes</servlet-name>
    <jsp-file>/index-changes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index-changes</servlet-name>
    <url-pattern>/index-changes</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>index-tricker</servlet-name>
    <jsp-file>/index-tricker.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index-tricker</servlet-name>
    <url-pattern>/index-tricker</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>indexddd</servlet-name>
    <jsp-file>/indexddd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexddd</servlet-name>
    <url-pattern>/indexddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>industries</servlet-name>
    <jsp-file>/industries.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>industries</servlet-name>
    <url-pattern>/industries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>it</servlet-name>
    <jsp-file>/it.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>it</servlet-name>
    <url-pattern>/it</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ites</servlet-name>
    <jsp-file>/ites.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ites</servlet-name>
    <url-pattern>/ites</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_blog</servlet-name>
    <jsp-file>/manage_blog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_blog</servlet-name>
    <url-pattern>/manage_blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mobile_app</servlet-name>
    <jsp-file>/mobile_app.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mobile_app</servlet-name>
    <url-pattern>/mobile_app</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsletter</servlet-name>
    <jsp-file>/newsletter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsletter</servlet-name>
    <url-pattern>/newsletter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post_comment</servlet-name>
    <jsp-file>/post_comment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>post_comment</servlet-name>
    <url-pattern>/post_comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recent_blog</servlet-name>
    <jsp-file>/recent_blog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recent_blog</servlet-name>
    <url-pattern>/recent_blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>service</servlet-name>
    <jsp-file>/service.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sitemap</servlet-name>
    <jsp-file>/sitemap.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/sitemap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sms24hours</servlet-name>
    <jsp-file>/sms24hours.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sms24hours</servlet-name>
    <url-pattern>/sms24hours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tenders</servlet-name>
    <jsp-file>/tenders.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>tenders</servlet-name>
    <url-pattern>/tenders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>terms_conditions</servlet-name>
    <jsp-file>/terms_conditions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>terms_conditions</servlet-name>
    <url-pattern>/terms_conditions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thankyou</servlet-name>
    <jsp-file>/thankyou.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>thankyou</servlet-name>
    <url-pattern>/thankyou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vas</servlet-name>
    <jsp-file>/vas.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>vas</servlet-name>
    <url-pattern>/vas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>web_development</servlet-name>
    <jsp-file>/web_development.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>web_development</servlet-name>
    <url-pattern>/web_development</url-pattern>
  </servlet-mapping>
</web-app>